html,
body {
  background: rgb(27, 27, 38);
  background-attachment: fixed;
  color: white;
  text-align: center;
}

.main {
  margin: 8vh auto 0px auto;
  max-width: 400px;
  padding: 0px 50px 0px 50px;
}

h6{
  color:rgb(189, 189, 189)
}